

/* Text styling */

h1 {
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
font-size: 50px;
text-align: center;
margin: 10px 10px;
}

#taskCounter {
font-size: 15px;
display: flex;
align-items: center;      
justify-content: center;  
margin-bottom: 20px;
}

li {
list-style-type: "\0020";
font-size: 20px;
padding-bottom: 10px;
text-align: center;
}

span {
padding-right: 10px;
}

ul {
padding: 5px;
}

small {
color: rgb(239, 10, 10);
font-size: 13px;
font-style: oblique;
text-align: center;
padding: 10px;
}


/* Input field styling */


.input-container {
display: flex;
align-items: center;      
justify-content: center;   
gap: 8px;                  
margin-top: 15px;        
}

.input-field {
border-radius: 3px;
font-size: 18px;
border-color: rgb(156, 156, 156);
border-style: solid;
border-width: 1.5px;
width: 200px;
height: 25px;
}

.input-field:focus {
border-color: rgb(41, 112, 206);
border-radius: 3px;
border-width: 2px;
outline: none;
}

 
/* Background and box styling */

body {
font-family: sans-serif;
background: linear-gradient(to top,rgb(192, 0, 0),rgb(226, 73, 73), rgb(254, 197, 197));
background-repeat: no-repeat;
background-size: 2000px 2000px;
}

.content-box {
animation-name: whiteBox;
animation-duration: 1.0s;
animation-direction: alternate;

width: 500px;
height: auto;
margin: 10px auto 0 auto;

background-color: white; 
opacity: 100%;
box-shadow: 0 0 4px 4px rgba(145, 145, 145, 0.199);
box-sizing: border-box;

display: flex;
flex-direction: column;
align-items: center;
padding: 2px;
}



/* Button design */

.addBtn {
font-family: sans-serif;
background-color: rgb(230, 231, 234);
border-color: rgb(156, 156, 156);
border-radius: 3px;
border-style: solid;
border-width: 1.8px;
font-size: 18px;
padding: 4px 10px;;
}


#deleteBtnImage {
width: 13px;
height: 13px;
opacity: 50%;
}

#deleteBtnImage:hover {
opacity: 100% 
}

#deleteBtn {
border-color: transparent;
background-color: transparent;
cursor: pointer;
cursor:hand;
}

.complete {
animation-name: line;
animation-duration: 0.5s;
text-decoration: line-through;
color: gray;
}

#list {
cursor: pointer;
cursor:hand;
}


/* Animations */


@keyframes whiteBox {
0% {
    transform: translateY(-1000px);
    opacity: 0%;
  }

20% {
    transform: translateY(-500px);
    opacity: 0%;
  }

60% {
    transform: translateY(60px);
    opacity: 70%;
  }

100% {
    transform: translateY(0px);
    opacity: 100%;
  }}


.text-animation h1, 
.text-animation p, 
.input-container {
animation-name: text-fade-in;
animation-iteration-count: 1;
opacity: 0;
animation: text-fade-in 1s ease-out forwards;


}
.text-animation h1 {
  animation-delay: 1.0s;
}

.text-animation p {
  animation-delay: 1.1s;
}

.text-animation .input-container {
  animation-delay: 1.2s;
}


@keyframes text-fade-in {
from {
  opacity: 0;
}   
to {
  opacity: 100%
}}

li {
animation-name: list-animation;
opacity: 0;
animation: list-animation 0.2s forwards;
}

@keyframes list-animation {
0% {
    transform: translateY(10px);
    opacity: 50%;
  }

100% {
    transform: translateY(0px);
    opacity: 100%;
  }

}

.blink {
animation: blink 0.5s ease-in-out 2;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

li:hover {
text-decoration: line-through;
}

@keyframes line {
from {color: black;}
to {color: grey; text-decoration: line-through;}
}

.addBtn:hover {
background-color: rgb(208, 208, 209);
border-color: rgb(35, 35, 35);
}



