

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 100px;
    padding-top: 15px;
}


body {
    font-family: sans-serif;
    background: linear-gradient(to top,rgb(255, 125, 125), rgb(254, 161, 159), rgb(254, 197, 197));
    background-repeat: no-repeat;
    background-size: 850px 500px;
}

#taskCounter {
    font-size: 11px;
    margin-left: 140px;
    padding-bottom: 10px;
    margin-top: -8px;
}

small {
    color: rgb(183, 5, 5);
    font-size: 10px;
    font-style: oblique;
    margin-left: 120px;
}

li {
 padding-bottom: 10px;   
 margin-left: 80px;
 list-style-type: "\0020";
}

ul {
padding-bottom: 15px;
}

.input-field {
margin-left: 80px;
border-radius: 2px;
border-width: 2px;
font-size: 14px;
border-color: rgb(156, 156, 156);
border-style: solid;
border-width: 1px;
width: 150px;
height: 18.5px;
box-shadow: 0 0 1px 1px rgba(147, 145, 145, 0.235);
}

.input-field:focus {
  border-color: rgb(74, 138, 222);
  border-radius: 2px;
  border-width: 1px;
  outline: none;
  box-shadow: 0 0 1px 1px rgb(74, 138, 222);
  caret-color: rgb(107, 106, 106);
}


/* Button design */

.addBtn {
font-family: sans-serif;
background-color: rgb(230, 231, 234);
border-color: rgb(156, 156, 156);
border-radius: 3px;
border-style: solid;
border-width: 1.8px;
font-size: 14px;
padding: 2.7px 7px;
box-shadow: 0 0 1px 1px rgba(147, 145, 145, 0.235);
}


#deleteBtnImage {
width: 10px;
height: 10px;
opacity: 50%;
}

#deleteBtnImage:hover {
opacity: 100% 
}

#deleteBtn {
border-color: transparent;
background-color: transparent;
}


/* Animations */

.content-box {
animation-name: whiteBox;
animation-duration: 1.0s;
animation-direction: alternate;

background-color: white; 
width: 350px;
height: auto;
margin-left: 230px;
margin-top: -10px;
opacity: 100%;
box-shadow: 0 0 3px 3px rgba(147, 145, 145, 0.235);
box-sizing: border-box;
}

@keyframes whiteBox {
0% {
    transform: translateY(-1000px);
    opacity: 0%;
  }

20% {
    transform: translateY(-500px);
    opacity: 0%;
  }

60% {
    transform: translateY(50px);
    opacity: 70%;
  }

100% {
    transform: translateY(0px);
    opacity: 100%;
  }}


.text-animation h1, 
.text-animation p, 
.text-animation input, 
.text-animation .addBtn {
animation-name: text-fade-in;
animation-iteration-count: 1;
opacity: 0;
animation: text-fade-in 1s ease-out forwards;


}
.text-animation h1 {
  animation-delay: 1.0s;
}

.text-animation p {
  animation-delay: 1.1s;
}

.text-animation input {
  animation-delay: 1.2s;
}

.text-animation .addBtn {
  animation-delay: 1.3s;
}


@keyframes text-fade-in {
from {
  opacity: 0;
}   
to {
  opacity: 100%
}
}


.message {
animation-name: blinker;
animation: blinker 0.5s linear;
animation-iteration-count: 2;
}

@keyframes blinker {  
  50% {
    opacity: 0;
  }
}

.complete {
animation-name: line;
animation-duration: 1s;
text-decoration: line-through;
color: gray;
}

li:hover {
text-decoration: line-through;
}

@keyframes line {
from {color: black;}
to {color: grey; text-decoration: line-through;}

}

.addBtn:hover {
background-color: rgb(208, 208, 209);
border-color: rgb(35, 35, 35);
}



